h2 {
    border: 3px solid #ccc;
    width: 500px;
    padding: 50px;
    text-align: center;
    box-shadow: 5px 5px 5px 2px #777;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}